* {
  font-family: Arial, Helvetica, sans-serif;
  text-decoration: none;
  color: black;
}

html,
body {
  min-height: 100%;
  height: 100%;
}

header {
  display: flex;
  align-items: center;
}

body {
  /* padding-top: 70px; */
  background-color: hsla(40, 91%, 91%, 0.784);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 0;
}

main {
  flex: 1;
}

:root {
  --darkred: rgb(156, 40, 39);
}

.logo {
  height: 70px;
}


/* Navbar */

.navbar {
  display: flex;
  flex-wrap: wrap;
  /* -> linien vermehren sich untereinander */
  /* align-self: start; */
  justify-content: space-around;
  margin: 0px;
  padding: 13px;
  background-color: rgba(155, 41, 39, 0.2);
  list-style: none;
}

/* Navbar Design */

.navbar li a {
  font-family: Monospace, Arial, Helvetica, sans-serif;
  font-size: 23px;
  color: black; 
  padding: 10px 15px 0px 15px;
}

.active_btn {
  color: var(--darkred) !important;
}

.navbar:hover .dropbtn {
  color: var(--darkred);
  border-bottom-style: solid;
  border-bottom-color: var(--darkred);
}

.navbar li a:hover {
  color: var(--darkred);
  border-bottom-style: solid;
  border-bottom-color: var(--darkred);
}

/* Navbar Dropdown */

.dropdown .dropbtn {
  font-family: Monospace, Arial, Helvetica, sans-serif;
  font-size: 23px;
  padding: 0px 15px 0px 15px;
  border: none;
  background-color: inherit;
}

.dropdown .active_btn {
  font-family: Monospace, Arial, Helvetica, sans-serif;
  font-size: 23px;
  border-bottom-style: solid;
  border-bottom-color: var(--darkred);
  padding: 0px 15px 0px 15px;
  border: none;
  background-color: inherit;
}

.dropdown-content {
  display: none;
  position: absolute; /* nav würde so lang werden wie dropdown */
  background-color: #E7E1D3;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1; /* dropdown wird über inhalt angezeigt */
  border-radius: 5px;
}

.dropdown-content a {
  padding: 12px 16px;
  text-decoration: none;
  display: block;

}

.dropdown-content a:hover {
  color: var(--darkred);
}

.dropdown:hover .dropdown-content {
  display: block;
}


/* Footer Design */

footer {
  background-color: rgb(159, 86, 85);
  padding: 10px;
}

.logo_footer {
  display: block;
  margin-left: auto;
  margin-right: auto;
  height: 40px;
  margin-bottom: 10px;
}

.footer_line {
  list-style: none;
  display: flex;
  justify-content: space-around;
  font-size: 15px;
  padding: 0;
  margin: 0 0 10px 0;
}

.rights {
  text-align: center;
  font-size: 13px;
}

/* Homepage */

.all_event_container {
  margin: 30px 60px;
  padding: 0;
}

.homepage_arrow_wheel {
  height: 30px;
}

.homepage_event_pics {
  width: 200px;
  height: 150px;
  object-fit: cover;
}

.homepage_grid_event_title {
  font-size: 30px;
  font-family: Monospace, Arial, Helvetica, sans-serif;
  text-align: center;
}

.homepage_event_content {
  background-color: rgba(209, 39, 39, 0.354);
  border-radius: 10px;
  margin-top: 30px;
  padding: 10px;
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  /* Define 6 equal columns */
  grid-template-rows: 50px;
  /* Define 2 rows */
  gap: 10px;
  /* Add spacing between grid items */
  justify-items: center;
}

.homepage_grid_item {
  display: flex;
  align-items: center;
  position: relative;
  text-align: center;
}

.homepage_grid_item_text {
  position: absolute;
  font-family: Monospace, Arial, Helvetica, sans-serif;
  top: 80%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  font-size: 20px;
  font-size: 20px;
  background-color: rgba(97, 24, 22, 0.73);
  border-radius: 5px;
  width: 80%;
}

.homepage_grid_item:nth-child(1) {
  grid-column: span 7;
  /* Span the first item across all 6 columns */
  width: 100%;
  height: 40px;
  display: flex;
  /* Use flexbox for centering */
  justify-content: center;
  /* Center horizontally */
}

.homepage_grid_item:nth-child(2) {
  grid-column: span 1;
  /* Each remaining item spans 1 column */
}

.homepage_grid_item:nth-child(n+3) {
  grid-column: span 1;
  /* Each remaining item spans 1 column */
}

/* Make 2 and 7 smaller */
.homepage_grid_item:nth-child(8) {
  grid-column: span 1;
  /* Each remaining item spans 1 column */
}

.homepage_iframe_content {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  padding: 20px;
}

.culture_video {
  padding: 10px;
  background-color: #E7E1D3;
}

.culture_video iframe {
  width: 700px;
  height: 400px;
  border: 0;
}

.map_area {
  padding: 10px;
  background-color: #E7E1D3;
}

.map_area iframe {
  width: 400px;
  height: 400px;
  border: 0;
}

/* intrests */

.startpage_body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: rgba(155, 41, 39, 0.5);
  /* Rosa Hintergrund */
  justify-content: center;
  align-items: center;
}

.startpage_selectable_button {
  padding: 10px 20px;
  margin: 5px;
  border-radius: 5px;
  color: rgb(253, 240, 213);
  background-color:rgba(155, 41, 39, 0.7);
  cursor: pointer;
  display: inline-block;
}

.startpage_selectable_button:hover {
  background-color: #723838;
  /* Hover-Effekt */
}

input[type="checkbox"] {
  display: none;
}

input[type="checkbox"]:checked+.startpage_selectable_button {
  box-shadow: 0 0 40px rgb(254, 237, 203);
  background-color: #733333;
  /* Box shadow when selected */
}

.startpage_buttons_container {
  margin-top: 20px;
  /* Abstand zwischen Titel und Buttons */
}

.startpage_container {
  text-align: center;
  /* Zentriert Text und den Button */
}

.startpage_logo {
  position: absolute;
  top: 20px;
  left: 20px;
  height: 80px;
}

.startpage_text h1 {
  color: rgb(253, 240, 213);
  font-size: 35px;
  margin-bottom: 20px;
  /* Abstand zwischen Text und Button */
}

.infoBox {
  text-align: center;
}

.cta-button {
  background-color:#723838;
  /* Knopfhintergrundfarbe */
  color: rgb(253, 240, 213);
  border: none;
  padding: 10px 20px;
  margin-top: 20px;
  font-size: 25px;
  border-radius: 5px;
  cursor: pointer;
}

.cta-button:hover {
  background-color: #723838;
  /* Hover-Effekt */
}

/* Über Uns */
/* event-seite */

.click_here_rts {
  text-decoration: underline;
  font-family: Monospace;
  font-size: large;
  text-align: left;
}

.event_info {
  display: flex;
  justify-content: center;
  margin-left: 40px;
  align-items: start;
  text-align: center;
}

.rooftop_sailors_image {
  display: flex;
  height: 100%;
  width: 100%;
  border-radius: 5px;
  box-shadow: 1px 1px 15px 8px rgb(253, 240, 213);
}

.text_all_rts h1 {
  text-align: center;
  font-family: Monospace;
}

.text_all_rts h3 {
  font-family: Monospace;
}

.heart_empty {
  width: 50px;
  height: 50px;
  background-image: url(../img/symbols/herzleer.png);
  background-size: cover;
  float: right;
}

.heart_empty:hover {
  background-image: url(../img/symbols/herz.png)
}

.text_all_rts h3 {
  text-align: center;
}

.info_text {
  background-color: rgba(155, 41, 39, 0.5);
  position: relative;
  width: 500px;
  padding: 50px;
  padding-bottom: auto;
  margin-top: 40px;
  border-radius: 10px;
  box-shadow: 1px 1px 15px 8px rgb(159, 86, 85);
  font-size: 20px;
  margin-bottom: 40px;
}

.description_rts,
.see_more_rts {
  position: relative;
  font-family: Arial;
  font-size: large;
  text-align: justify;
}

.ticket_section {
  background-color: rgba(194, 193, 193, 0.354);
  box-shadow: 1px 1px 15px 8px hsla(0, 1%, 45%, 0.54);
  width: auto;
  height: auto;
  padding: 40px;
  padding-bottom: 90%;
  margin-top: 40px;
  border-radius: 5px;
  display: flex;
  position: relative;
}

.bierhuebeli_address{
  padding-left: 10px;
  position:absolute;
  font-size: 18px;
}

.bierhuebeli_address, .location_icon{
  margin-left: 50px;
  text-align: left;
  top: 250px;
  display: flex;
}

.location_icon{
  width:40px;
  height:auto;
  position:absolute;
  left: 0;
  padding-top:5px;
}

.location_icon:hover{
  width: 45px;
  height: auto;
}

.event_date{
  padding-left: 10px;
  position:absolute;
  text-align:left;
  font-size: 18px;
}

.event_date, .calendar_icon{
  margin-left: 50px;
  text-align: left;
  top: 130px;
}

.calendar_icon{
  display: flex;
  width:40px;
  height:auto;
  position:absolute;
  left: 0;
  padding-top:5px;
}

.calendar_icon:hover{
  width: 45px;
  height: auto;
}

.event_time{
  padding-left: 10px;
  position:absolute;
  text-align:left;
  font-size: 18px;
}

.event_time, .time_icon{
  margin-left: 50px;
  text-align: left;
  top: 190px;
}

.time_icon{
  display: flex;
  width:40px;
  height:auto;
  position:absolute;
  left: 0;
  padding-top:5px;
}

.time_icon:hover{
  width: 45px;
  height: auto;
}

.buy_ticket {
  display:center;
  width:100%;
  padding: 10px 60px;
  font-family: Arial;
  font-size: 18px;
  text-align: center;
  cursor: pointer;
  background-color: rgba(155, 41, 39, 0.75);
  color: rgb(253, 240, 213);
  border: none;
  border-radius: 5px;
  box-shadow: 1px 1px 10px 5px rgb(159, 86, 85);
}

.buy_ticket:hover {
  background-color: #9b2927;
}

.map_bierhuebeli {
  margin-top: 30px;
  padding-top: 20px;
  padding-bottom: 20px;
  background-color: rgba(194, 193, 193, 0.354);
  box-shadow: 1px 1px 15px 8px hsla(0, 1%, 45%, 0.54);
  border-radius: 5px;
}

/* Login Design */

.body_login {
  background-color: rgba(155, 41, 39, 0.5);
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
}

.header_login {
  display: flex;
  align-items: center;
  padding: 10px;
  position: absolute;
  left: 0;
  width: 100%;
}

.login_wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  flex-grow: 1;
}

.login_container {
  background-color: rgba(155, 41, 39, 0.5);
  padding: 80px;
  margin-top: 65px;
  border-radius: 10px;
  box-shadow: 0 0 30px rgb(253, 240, 213);
  width: 300px;
  font-size: 30px;

}

.login_container h2 {
  margin-bottom: 20px;
  margin-right: 10px;
  color: rgb(253, 240, 213);
  font-size: 40px;
}

.btn_submit_color {
  font-size: 20px;
  color: rgb(253, 240, 213);
}

.btn_submit_color a {
  color: rgb(253, 240, 213);
}

.login_uname {
  color: rgb(253, 240, 213);
  font-size: 20px;
}

.psw,
.psw a {
  color: rgb(253, 240, 213);
  font-size: 12px;
}

.psw a:hover {
  color: rgb(246, 231, 201);
}

.login_container input[type="text"],
.login_container input[type="password"] {
  width: 100%;
  height: 30px;
  margin-bottom: 10px;
  border: 1px solid rgb(253, 240, 213);
  border-radius: 5px;
}

.login_container button {
  width: 100%;
  padding: 10px;
  background-color: #723838;
  color: rgb(255, 255, 255);
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.login_container .psw {
  text-align: center;
  margin-top: 10px;
}

/* Konzert Page */

/* Dropdown Filter Relevanz */
/* Grundstil */
.filter {
  list-style: none;
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 10px;
  margin-top: 60px;
  margin-left: 20px;
}

.filter_img1 {
  width: 15px;
  height: 15px;
  margin-left: 1px;
  margin-right: 4px;
}

.filter_dropdown {
  position: relative;
}

.filter_dropdown_main {
  background-color: rgba(194, 193, 193, 0.354);
  /* Hauptbutton-Farbe */
  color: black;
  padding: 10px 20px 10px 10px;
  box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.4);
  border: none;
  cursor: pointer;
  font-size: 16px;
}

/* Dropdown-Inhalte */
.dropdown_content_filter {
  display: none;
  /* Standardmäßig ausgeblendet */
  position: absolute;
  background-color: rgb(159, 86, 85);
  min-width: 160px;
  box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
  /*z-index: 1;*/
  list-style: none;
  padding: 0;
}

.dropdown_content_filter li {
  padding: 12px 16px;
  text-align: left;
}

.dropdown_content_filter li a {
  text-decoration: none;
  color: black;
}

.dropdown_content_filter li a:hover {
  color: rgb(253, 240, 213);
}


/* Dropdown bei Hover anzeigen */
.filter_dropdown:hover .dropdown_content_filter {
  display: block;
}

/* Grid */

.flexbox_container_concert {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap; /* nicht alle in einer Zeile */
  gap: 40px;
}

.flexbox_item_concert {
  height: 250px;
  width: 19%;
  display: flex;
}

.flexbox_item_concert a {
  height: 70%;
  width: 100%;
}

.flexbox_text_item_concert {
  background-color: rgba(155, 41, 39, 0.2);
  font-size: 20px;
  font-family: Monospace, Arial, Helvetica, sans-serif;
  display: flex; /* Schriftausrichtung innerhalb Box */
  justify-content: center;
  text-align: center;
  align-items: center;
  height: 30%;
}

.concert_img1 {
  width: 100%;
  /* Passt die Breite des Bildes an die Breite der Kachel an */
  height: 100%;
  object-fit: cover;
  /* Schneidet das Bild so zu, dass es die Kachel vollständig ausfüllt */
}

.concert_img1:hover {
  box-shadow: 0 0 5px 5px rgba(155, 41, 39, 0.5);
}

.topic_concert {
  font-family: Monospace, Arial, Helvetica, sans-serif;
  font-size: 50px;
  margin-top: 55px;
  text-align: center;
}

/* About Us */

.about_us_container {
  display: flex;
  justify-content: space-around;
  height: 450px;
  margin-bottom: 150px;
  padding: 20px;
}

.aboutus_text {
  margin-bottom: 10px;
  color: var(--darkred);
  font-size: 20px;
  text-align: left;
  font-size: 20px;
}

.aboutus_header {
  margin-bottom: 5px;
  color: var(--darkred);
  font-size: 30px;
  font-weight: bold;
  text-align: left;
  font-family:Monospace, Arial, Helvetica, sans-serif;
}

.aboutus_wrapper {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 5px;
  max-width: 450px;
}

/* Profile icon und sidebar */

.profile_icon {
  right: 10px;
  cursor: pointer;
  position: absolute;
  top: 20px;
  right: 20px;
  height: 40px;
}

.sidebar {
  margin-top: 37px;
  display: none;
  position: fixed;
  right: 0;
  /* Passen Sie diesen Wert an, um die Dropdown-Position zu justieren */
  width: 150px;
  /* Passen Sie die Breite der Sidebar an */
  background-color: rgb(159, 86, 85);
}

.profile-container:hover .sidebar {
  display: block;
}

.sidebar_dropdown {
  display: flex;
  flex-direction: column;
  padding-left: 10px;
}

.sidebar_dropdown a {
  padding: 10px 0;
  text-decoration: none;
  margin-bottom: 10px;
}

.sidebar_dropdown a:hover {
  color: rgb(253, 240, 213);
}

.gruppen_bild {
  margin-top: 30px;
  width: 100%;
  /* Passt die Breite des Bildes an */
  max-width: 450px;
  /* Maximale Breite des Bildes */
  height: 100%;
  /* Beibehaltung des Seitenverhältnisses */
  display: flex;
  /* Entfernt den zusätzlichen Abstand unter dem Bild */
  justify-content: end;
  border-radius: 20px;
  /* Optional: Rundet die Ecken des Bildes */
  object-fit: cover;
  box-shadow: 0 0 10px 10px rgba(155, 41, 39, 0.5)
}

/* Kleinerer Bildschirm */

@media (max-width:1250px) {

  /* Homepage */

  .all_event_container {
    margin: 0px 1px;
  }

  .homepage_arrow_wheel {
    height: 40px;
    width: 100%;
  }

  .homepage_event_pics {
    width: 100%;
    height: 250px;
  }

  .homepage_grid_item_text {
    overflow-wrap: break-word;
    width: 80%;
  }

  .homepage_event_content {
    grid-template-columns: repeat(6, 1fr);
    grid-template-columns: 0.5fr 3fr 3fr 3fr 3fr 0.5fr;
  }

  /* .homepage_grid_item {
    display: flex;
    align-items: center;
    position: relative;
    text-align: center;
  } */

  .homepage_grid_item:nth-child(1) {
    grid-column: span 6;
    /* Span the first item across all 6 columns */
  }

  .homepage_grid_item:nth-child(7) {
    display: none;
  }

  .homepage_iframe_content {
    flex-direction: column;
    justify-content: flex-start;
  }

  .culture_video {
    padding: 5px;
    width: 90%;
  }

  .culture_video iframe {
    width: 100%;
    height: 500px;
  }

  .map_area {
    width: 90%;
  }

  .map_area iframe {
    /* align-content: center; */
    width: 100%;
  }


  /*startpage*/

  .startpage_body {
    flex-direction: column;
    height: auto;
    padding: 20px;
  }

  .startpage_logo {
    position: static;
    margin-bottom: 20px;
    height: 60px;
  }

  .startpage_text h1 {
    font-size: 28px;
    margin-bottom: 15px;
  }

  .startpage_selectable_button {
    padding: 8px 15px;
    font-size: 14px;
  }

  .startpage_buttons_container {
    margin-top: 15px;
  }

  .cta-button {
    font-size: 20px;
    padding: 8px 15px;
    margin-top: 15px;
  }

  /*login page*/

  .body_login {
    /* background-color: rgba(155, 41, 39, 0.5); */
    flex-direction: column;
    height: auto;
    padding: 20px;
  }

  .header_login {
    flex-wrap: wrap;
    padding: 10px;
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
  }

  .login_wrapper {
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding: 20px;
    width: 100%;
  }

  .login_container {
    padding: 40px;
    margin-top: 20px;
    width: 90%;
    max-width: 400px;
    font-size: 24px;
  
  }

  .login_container h2 {
    font-size: 30px;
  }

  .btn_submit_color {
    font-size: 18px;
  }

  .login_uname {
    font-size: 18px;
  }

  .psw,
  .psw a {
    font-size: 12px;
  }

  .login_container input[type="text"],
  .login_container input[type="password"] {
    height: 40px;
    font-size: 16px;
  }

  .login_container button {
    padding: 10px;
    font-size: 18px;
  }

  .login_container .psw {
    margin-top: 20px;
  }
}



/* Tablet */

@media (max-width:1024px) {

  /* Navbar */
  .navbar {
    font-size: 15px;
    padding: 10px 15px 5px 15px;
  }

  .dropdown-content {
    min-width: 120px;
  }

  /* Homepage */

  .homepage_arrow_wheel {
    height: 40px;
    width: 100%;
  }

  .homepage_grid_item_text {
    font-size: 98%;
  }

  .homepage_event_content {
    grid-template-columns: repeat(5, 1fr);
    grid-template-columns: 0.5fr 3fr 3fr 3fr 0.5fr;
  }

  .homepage_grid_item:nth-child(1) {
    grid-column: span 5;
    /* Span the first item across all 6 columns */
  }

  .homepage_grid_item:nth-child(6),
  .homepage_grid_item:nth-child(7) {
    display: none;
  }

  /* Concert Page */


  .flexbox_item_concert {
    height: 220px;
    width: 45%;
  }

  .flexbox_item_concert a {
    height: 65%;
  }

  .flexbox_text_item_concert {
    height: 40%;
    font-size: 28px;
  }

  .topic_concert {
    font-size: 60px;
  }

  .filter_dropdown_main {
    padding: 10px 20px 10px 10px;
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.3);
    font-size: 15px;
    margin-top: 20px;
  }

  .filter_img1 {
    width: 15px;
    height: 15px;
    margin-left: 1px;
    margin-right: 4px;
  }

  /* About Us Page  */

  .about_us_container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: auto;
    padding: 20px;
    margin-bottom: 20px;
  }

  .aboutus_text {
    margin-bottom: 10px;
    font-size: 20px;
    text-align: center;
    line-height: 1.0;
  }

  .aboutus_header {
    text-align: center;
  }

  .aboutus_wrapper {
    padding: 10px;
    max-width: 600px;
  }

  .gruppen_bild {
    margin-top: 20px;
    width: 100%;
    /* Passt die Breite des Bildes an */
    max-width: 450px;
    /* Maximale Breite des Bildes */
    height: auto;
    /* Beibehaltung des Seitenverhältnisses */
    border-radius: 20px;
    /* Optional: Rundet die Ecken des Bildes */
    object-fit: cover;

  }

  /* event-view-seite */

  .info_text {
    width: 50%; /* Make the .info_text container more flexible */
    position: static;
    order: -1; /* Ensure it is placed above all other elements */
  }

  .ticket_section, .map_bierhuebeli{
    width: 80%; /* Adjust width for smaller screens */
    height: auto;
    margin-top: 40px; /* Center horizontally with spacing */
    margin-left: 0;
    margin-right: 40px;
    padding: 20px;
    position: static; 
  }

  .calendar_icon, .time_icon, .location_icon {
    position: static; /* Reset position to flow within the container */
    margin: 0 auto; /* Center icons with spacing below */
    display: block; /* Stack the icon and text */
  }

  .event_date, .event_time, .bierhuebeli_address {
    position: static; /* Reset absolute positioning */
    margin: 0 auto; /* Center text */
    text-align: center; /* Center-align text */
  }

  .buy_ticket {
    margin-top: 20px;
    margin-bottom: 10px; 
    width: 90%; /* Adjust to fit smaller screens */
  }

  .ticket_section {
    flex-direction: column;
    gap: 20px; /* Add spacing between items */
    padding-right: 0;
    padding-bottom: 20px; /* Adjust padding */
  }

  .map_bierhuebeli{
    margin-top: 30px;
    width: 80%;
    padding-right: 0;
  }

  .map_bierhuebeli iframe{
    width: 80%;
    height: auto;
  }

  /*startpage*/

  .startpage_body {
    flex-direction: column;
    height: auto;
    padding: 15px;
  }

  .startpage_logo {
    position: static;
    margin-bottom: 15px;
    height: 50px;
  }

  .startpage_text h1 {
    font-size: 24px;
    margin-bottom: 10px;
  }

  .startpage_selectable_button {
    padding: 6px 12px;
    font-size: 12px;
  }

  .startpage_buttons_container {
    margin-top: 10px;
  }

  .cta-button {
    font-size: 18px;
    padding: 6px 12px;
    margin-top: 10px;
  
  }

  /*login page*/

  .body_login {
    flex-direction: column;
    height: auto;
    padding: 15px;
  }

  .header_login {
    flex-wrap: wrap;
    padding: 8px;
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
  }

  .login_wrapper {
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding: 15px;
    width: 100%;
  }

  .login_container {
    padding: 30px;
    margin-top: 15px;
    width: 85%;
    max-width: 350px;
    font-size: 22px;
  
  }

  .login_container h2 {
    font-size: 28px;
  }

  .btn_submit_color {
    font-size: 16px;
  }

  .login_uname {
    font-size: 16px;
  }

  .psw,
  .psw a {
    font-size: 10px;
  }

  .login_container input[type="text"],
  .login_container input[type="password"] {
    height: 35px;
    font-size: 14px;
  }

  .login_container button {
    padding: 8px;
    font-size: 16px;
  }

  .login_container .psw {
    margin-top: 15px;
  }

   /*footer*/
  
  .footer_line {
    font-size: 14px;
  }
  
  .rights {
    font-size: 11px;
  }
}

/* Smartphone */

@media (max-width:768px) {

  /* Navbar */

  .navbar {
    font-size: 25px;
  }

  .dropdown-content {
    min-width: 100px;
    font-size: 17px;
  }

  /* Homepage */

  /* .all_event_container {
    margin: 0px 1px;
  } */

  .homepage_arrow_wheel {
    height: 40px;
    width: 100%;
  }

  /* .homepage_event_pics {
    width: 100%;
    height: 250px;
  } */

  .homepage_grid_item_text {
    font-size: 95%;
  }

  /* .homepage_event_content {
    grid-template-columns: repeat(5, 1fr);
    grid-template-columns: 0.5fr 3fr 3fr 3fr 0.5fr;
  } */

  /* .homepage_grid_item {
    display: flex;
    align-items: center;
    position: relative;
    text-align: center;
  } */

  /* .homepage_grid_item:nth-child(1) {
    grid-column: span 5;
    /* Span the first item across all 6 columns 
  } */

  .culture_video {
    width: 100%;
  }

  .map_area {
    width: 100%;
  }

  .map_area iframe {
    height: 300px;
  }

  /* Concert Page */

  .flexbox_item_concert {
    height: 350px;
    width: 90%;
  }

  .flexbox_item_concert a {
    height: 75%;
  }

  .flexbox_text_item_concert {
    height: 20%;
    font-size: 30px;
  }
 
  .topic_concert {
    font-size: 65px;
  }

  .filter_dropdown_main {
    padding: 5px 10px 5px 5px;
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
    font-size: 13px;
    margin-top: 20px;
  }

  .filter_img1 {
    width: 10px;
    height: 10px;
    margin-left: 1px;
    margin-right: 4px;
  }

  /* About Us Page  */

  .about_us_container {
    padding: 10px;
  }

  .aboutus_text {
    font-size: 28px;
    /* Verkleinert die Schriftgröße für Smartphones */
  }

  .aboutus_header {
    font-size: 35px;
    /* Verkleinert die Schriftgröße für Smartphones */
  }

  .aboutus_wrapper {
    max-width: 90%;
    /* Setzt die maximale Breite des Textcontainers */
  }

  .gruppen_bild {
    max-width: 550px;
    /* Setzt die maximale Breite des Bildes */
  }

  /* event-view-seite */
  .event_info {
    flex-direction: column; /* Stack sections vertically */
    align-items: center; /* Center align */
    gap: 25px; /* Add spacing between sections */
    padding-right: 50px;
    padding-top: 20px;
  }

  .info_text {
    width: 90%; 
    margin: 0 auto; /* Center content */
    padding: 20px; /* Add some padding */
    font-size: 18px; /* Slightly larger font size */
  }

  .ticket_section {
    width: 90%; 
    margin: 0 auto; 
    padding: 15px; /* Slightly more padding */
    gap: 15px; /* Spacing between elements */
  }

  .buy_ticket {
    font-size: 18px; /* Slightly larger text size */
    padding: 10px 30px; /* Larger button */
    margin-left: 10px;
    margin-top: 10px;
  }

  .map_bierhuebeli {
    width: 90%; 
    margin: 10; /* Center align */
    padding: 15px; /* Comfortable padding */
    margin-bottom: 20px;
  }

  .map_bierhuebeli iframe {
    width: 100%; 
    height: 300px; 
  }

  .calendar_icon,
  .time_icon,
  .location_icon {
    width: 35px; /* Medium-sized icons */
    height: auto;
  }

  .bierhuebeli_address,
  .event_date,
  .event_time {
    font-size: 16px; /* Slightly larger text */
  }

  .rooftop_sailors_image {
    width: 100%; 
    height: auto; /* Maintain aspect ratio */
    margin-bottom: 15px; /* Add spacing below */
    border-radius: 5px; /* Maintain rounded corners */
  }

  /*startpage*/

  .startpage_body {
    flex-direction: column;
    height: auto;
    padding: 10px;
  }

  .startpage_logo {
    position: static;
    margin-bottom: 10px;
    height: 40px;
  }

  .startpage_text h1 {
    font-size: 20px;
    margin-bottom: 8px;
  }

  .startpage_selectable_button {
    padding: 10px 15px;
    font-size: 15px;
  }

  .startpage_buttons_container {
    margin-top: 8px;
  }

  .cta-button {
    font-size: 16px;
    padding: 5px 10px;
    margin-top: 8px;
  
  }

  /*login page*/

  .body_login {
    flex-direction: column;
    height: auto;
    padding: 10px;
  }

  .header_login {
    flex-wrap: wrap;
    padding: 5px;
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
  }

  .login_wrapper {
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding: 10px;
    width: 100%;
  }

  .login_container {
    padding: 20px;
    margin-top: 10px;
    width: 80%;
    max-width: 300px;
    font-size: 20px;
  }

  .login_container h2 {
    font-size: 24px;
  }

  .btn_submit_color {
    font-size: 14px;
  }

  .login_uname {
    font-size: 14px;
  }

  .psw,
  .psw a {
    font-size: 8px;
  }

  .login_container input[type="text"],
  .login_container input[type="password"] {
    height: 30px;
    font-size: 12px;
  }

  .login_container button {
    padding: 6px;
    font-size: 14px;
  }

  .login_container .psw {
    margin-top: 10px;
  }

  /*footer*/

  .footer_line {
    font-size: 12px;
  }
  
  .rights {
    font-size: 10px;
  }
}