*{
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
    color: black;
}

body {
    background-color: hsla(40, 91%, 91%, 0.784);
}

header{
    display:flex;
    align-items: center;
}

:root{
  --darkred: rgb(156, 40, 39);
}

.logo {
    height: 70px;
}

.Profil-Icon{
  position: absolute;
  top: 20px;
  right: 20px;
  height: 40px;
  
}

.navbar{
  display:flex;
  flex-wrap: wrap;
  /* -> linien vermehren sich untereinander */
  /* align-self: start; */
  justify-content: space-around;
  margin: 0px;
  padding: 5px;
  background-color: rgba(194, 193, 193, 0.354);
  border-radius: 0px;
  list-style: none;
}

/* Navbar Design */

.navbar li a{
    font-family: Monospace, Arial, Helvetica, sans-serif;
    font-size: 20px;
    color: black;
    /* folgendes -> macht damit die abstände gleichmässig auch bei veränderungen der Seite */
    box-sizing: border-box;
    padding: 10px 15px 0px 15px;
}

.active_btn{
    color: var(--darkred) !important;
}

.navbar div:hover .dropbtn, 
.navbar div:focus-within .dropbtn {
    color: var(--darkred);
    border-bottom-style:solid;
    border-bottom-color:var(--darkred);
}

.navbar li a:hover{
    color: var(--darkred);
    border-bottom-style:solid;
    border-bottom-color:var(--darkred);
}

/* Navbar Dropdown */

.dropdown {
    float: left;
    overflow: hidden;
  }
  
  .dropdown .dropbtn {
    font-family: Monospace, Arial, Helvetica, sans-serif;
    font-size: 20px;
    color: black;
    /* folgendes -> macht damit die abstände gleichmässig auch bei veränderungen der Seite */
    box-sizing: border-box;
    padding: 0px 15px 0px 15px;
    border: none;
    outline: none;
    background-color: inherit;
  }

  .dropdown .active_btn {
    font-family: Monospace, Arial, Helvetica, sans-serif;
    font-size: 20px;
    color: var(--darkred);
    border-bottom-style:solid;
    border-bottom-color:var(--darkred);
    /* folgendes -> macht damit die abstände gleichmässig auch bei veränderungen der Seite */
    box-sizing: border-box;
    padding: 0px 15px 0px 15px;
    border: none;
    outline: none;
    background-color: inherit;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #E7E1D3;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    border-radius: 5px;
  }
  
  .dropdown-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
  }

  .dropdown-content .active_dropdown {
    color: var(--darkred);
  }
  
  .dropdown-content a:hover {
    color: var(--darkred);
  }
  
  .dropdown:hover .dropdown-content {
    display: block;
  }


/* Footer Design */ 

footer {
    /* position: relative; */
    bottom:0;
    width: 100%;
    background-color: rgb(159, 86, 85);
    text-align: center;
    padding: 10px 0;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-top: 10px;
    margin-left: 0 auto;
    margin-right: 0 auto;
    margin-bottom: 10px;
    /* -> left/right/bottom 0 macht beide alle seiten gleichmässig */
 }
 
 .logo_footer{
     display:block;
     margin-left: auto;
     margin-right: auto;
     height: 40px;
     margin-bottom: 10px;
 }
 
 .footer_line{
     list-style:none;
     display:flex;
     justify-content: space-around;
     font-size: 15px;
     padding: 0;
     margin: 0 0 10px 0;
 }
 
 .rights{
     display:block;
     text-align: center;
     font-size: 13px;
 }

/* Homepage */

.homepage_arrow_wheel {
    height: 30px;
}

.homepage_event_pics {
    display: block;
    width: 100%;
    height: auto;
    object-fit: cover;
}

.homepage_grid_event_title {
    font-size: 30px;
    text-align: center;
}

.homepage_event_content {
    background-color: rgba(209, 39, 39, 0.354);
    border-radius: 10px;
    font-size: 30px;
    margin-top: 30px;
    padding: 10px;
    display: grid;
    grid-template-columns: repeat(7, 1fr); /* Define 6 equal columns */
    grid-template-rows: 50px; /* Define 2 rows */
    gap: 10px;/* Add spacing between grid items */
    justify-items: center;
}

.homepage_grid_item {
    /* border: 1px solid rgba(0, 0, 0, 0.8); */
    display: flex;
    align-items: center;
}

.homepage_grid_item:nth-child(1) {
    grid-column: span 7; /* Span the first item across all 6 columns */
    width: 100%;
    height: 50px;
    display: flex; /* Use flexbox for centering */
    justify-content: center; /* Center horizontally */
}

.homepage_grid_item:nth-child(2) {
    grid-column: span 1; /* Each remaining item spans 1 column */
}

.homepage_grid_item:nth-child(n+3) {
    grid-column: span 1; /* Each remaining item spans 1 column */
}

/* Make 2 and 7 smaller */
.homepage_grid_item:nth-child(8) {
    grid-column: span 1; /* Each remaining item spans 1 column */
}


/* .homepage_grid_item:nth-child(7) {
  display: hidden;
} */

/* Startpage */

.startpage_body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: rgba(155, 41, 39, 0.5); /* Rosa Hintergrund */
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.startpage_selectable_button {
  padding: 10px 20px;
  margin: 5px;
  border: none;
  border-radius: 5px;
  color: rgb(253,240,213);
  background-color:#8C4F4F;
  cursor: pointer;
  display: inline-block;
}

.startpage_selectable_button:hover{
 background-color: #723838; /* Hover-Effekt */
  }

input[type="checkbox"] {
  display: none;
}

input[type="checkbox"]:checked + .startpage_selectable_button {
box-shadow: 0 0 30px rgb(253,240,213); /* Box shadow when selected */
}
.startpage_buttons_container {
  margin-top: 20px; /* Abstand zwischen Titel und Buttons */
  text-align: center; /* Zentriert die Buttons */
}

.startpage_container {
  text-align: center; /* Zentriert Text und den Button */
}

.startpage_logo {
  position: absolute;
  top: 20px;
  left: 20px;
  height: 80px;
}

.startpage_text h1{
  color: rgb(253,240,213);
  font-size: 35px;
  margin-bottom: 20px; /* Abstand zwischen Text und Button */
}

.infoBox {
  text-align: center;
}

.cta-button {
  background-color: #8C4F4F; /* Knopfhintergrundfarbe */
  color: rgb(253,240,213);
  border: none;
  padding: 10px 20px;
  margin-top: 20px;
  font-size: 25px;
  border-radius: 5px;
  cursor: pointer;
  box-shadow: 0px 0px 30px rgb(253,240,213);
  transition: background-color 0.3s;
}

.cta-button:hover {
  background-color: #723838; /* Hover-Effekt */
}

/* Über Uns *//* events seite */

.click_here_rts{
  text-decoration: underline;
  text-align: justify;
  font-family: Arial;
  font-size: large;
} 

.event_info {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  text-align: center;
}

.rooftop_sailors_image{
  height: auto;
  width:100%;
  display:flex;
  padding-top: 0px;
  margin: 0 auto;
  border-radius: 5px;
  box-shadow: 1px 1px 15px 8px rgb(253,240,213)
}
.text_all_rts h1{
  text-align: center;
}

.text_all_rts h3{
  text-align: center;
}
.heart_empty{
  margin-block-end:10px;
  float:right;
  height: 40px;
}
.info_text {
  background-color: rgba(155, 41, 39, 0.5);
  position: relative;
  height: 100%;
  width: 500px;
  padding: 50px;
  padding-bottom: 30px;
  margin-top: 40px;
  border-radius: 10px;
  box-shadow: 1px 1px 15px 8px rgb(159, 86, 85);
  font-size: 20px;
  margin-bottom: 40px; 
}

.description_rts, .see_more_rts {
  position:relative;
  font-family: Arial;
  font-size: large;
  text-align:justify;
}
/* Login Design */

.body_login {
  background-color: rgba(155, 41, 39, 0.5);
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  }

.header_login {
  display: flex;
  align-items: center;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}
.login_wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  flex-grow: 1;
}

.login_container {
  background-color: rgba(155, 41, 39, 0.5);
  padding: 80px;
  margin-top: 65px;
  border-radius: 10px;
  box-shadow: 0 0 30px rgb(253,240,213);
  width: 300px;
  font-size: 30px;
  
}

.login_container h2 {
  margin-bottom: 20px;
  margin-right: 10px;
  color:rgb(253,240,213);
  font-size: 40px;
}

.btn_submit_color {
  font-size: 20px;
  color: rgb(253,240,213);
}

.btn_submit_color a {
  color: rgb(253,240,213);
}

.login_uname {
  color:rgb(253,240,213);
  font-size: 20px;
}

.psw, .psw a {
  color:rgb(253,240,213);
  font-size: 10px;
}

.psw a:hover {
    color:rgb(246, 231, 201);
}

.login_container input[type="text"],
.login_container input[type="password"] {
  width: 100%;
  height: 30px;
  margin-bottom: 10px;
  border: 1px solid rgb(253,240,213);
  border-radius: 5px;
}
.login_container button {
  width: 100%;
  padding: 10px;
  background-color: rgba(155, 41, 39, 0.5);
  color: rgb(255, 255, 255);
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
.login_container button:hover {
  background-color: rgba(155, 41, 39, 0.5);
}

.login_container .psw {
  text-align: center;
  margin-top: 10px;
}

/* Konzert Page */

/* Dropdown Filter Relevanz */
/* Grundstil */
.filter {
  list-style: none;
  display:flex;
  align-items:center;
  margin: 0;
  padding: 10px;
  position: relative;
  margin-top:10px;
  margin-left:20px;
}

.filter_img1{
  width:15px;
  height:15px;
  margin-left:1px;
  margin-right:4px;
}

.filter_dropdown {
  position: relative;
  display: inline-block;
}

.filter_dropdown_main {
  background-color: rgba(194, 193, 193, 0.354); /* Hauptbutton-Farbe */
  color: black;
  padding: 10px 20px 10px 10px;
  box-shadow: 0px 8px 16px rgba(0,0,0,0.4);
  border:none;
  cursor: pointer;
  font-size: 16px;
}

/* Dropdown-Inhalte */
.dropdown_content_filter {
  display: none; /* Standardmäßig ausgeblendet */
  position: absolute;
  background-color: white;
  min-width: 160px;
  box-shadow: 0px 8px 16px rgba(0,0,0,0.2);
  z-index: 1;
  list-style: none;
  padding: 0;
  margin: 0;
}

.dropdown_content_filter li {
  padding: 12px 16px;
  text-align: left;
}

.dropdown_content_filter li a {
  text-decoration: none;
  color: black;
  display: block;
}

/* Dropdown bei Hover anzeigen */
.filter_dropdown:hover .dropdown_content_filter {
  display: block;
}

/* Grid */

.grid_container_concert {
  display:flex;
  justify-content: space-around;
  flex-wrap: wrap;
  gap: 40px;
}

.grid_item_concert{
  height: 200px;
  width: 19%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.grid_item_concert a {
  height: 75%;
  width: 100%;
}

.grid_text_item_concert{
  background-color:rgba(194, 193, 193, 0.354);
  font-weight: bold;
  font-size:20px;
  font-family: Monospace, Arial, Helvetica, sans-serif;
  display: flex;
  justify-content:center;
  text-align:center;
  align-items: center;
  width: 100%;
  height: 20%;
}
 
.concert_img1{
  width: 100%; /* Passt die Breite des Bildes an die Breite der Kachel an */
  height: 100%;
  object-fit: cover; /* Schneidet das Bild so zu, dass es die Kachel vollständig ausfüllt */
}

.concert_img1:hover{
  box-shadow: 0 0 5px 5px rgba(155, 41, 39, 0.5);
}
.topic_concert{
  font-family: Monospace, Arial, Helvetica, sans-serif;
  font-size: 50px;
  margin-left:10px;
  margin-top: 55px;
  margin-bottom: 0px;
  text-align: center;
}

/* Tablet */

@media (max-width:1024px) {
  .grid_container_concert {
    grid-template-columns: repeat(3, 1fr);/* 3 gleich große Spalten */
  }
}
/* About Us */

.about_us_container {
  padding: 40px;
  margin-right: 65px auto;
  border-radius: 10px;
  box-shadow: 0 0 30px rgb(253,240,213);
  font-size: 20px;
  text-align: left;
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  width: 40%;
  max-width: 450px;
  line-height: 1.2;
}

.aboutus_text{
  margin-bottom: 10px;
  color:rgba(155, 41, 39, 0.5);
  font-size: 0,2 em;
  text-align: left;
}

.aboutus_header{
  margin-bottom: 5px;
  color:rgba(155, 41, 39, 0.5);
  font-size: 30px;
  font-weight: bold;
  text-align: left;
}

.aboutus_wrapper{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
}
